* {
    margin: 0;
    padding: 0;
    box-sizing: borded-box;
    font-family: 'Mulish', sans-serif;
}
:root {
    --black: #000000;
    --white: #fff;
    --purple: #7d4cde;
    --orange: #eb911b;
    --green: #61d71c;
    --red:   #e91c1c;


}
.nav--bar {
    color: var(--white);
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 30px;
}
.a {
    color: var(--white);
    font-size: 1.3rem;
    text-decoration: none;
    list-style: none;
    letter-spacing: 6px;
    
}
.nav--logo {
    background-color: var(--purple);
    background-image: linear-gradient(to top, var(--purple) 30%, var(--orange) 70%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.nav--items {
    display: flex;
    gap: 40px;
}
.nav--link {
    font-size: 1.2rem;
    color: var(--white);
    list-style: none;
    text-decoration: none;
}
.nav--link:hover {
    color: var(--orange);
    transition:all 0.3s ease-in;
    
}
.hamburger {
    display: none;
}