* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
:root {
    --black: #000000;
    --white: #fff;
    --cyan: #6fd6ed;
    --green: #bcef7e;
    --violet: #b877e4;
    --orange1: #f2a19b;
    --orange2: #bee4d2;
    --blue1: #d4dad9;
    --blue2: #ecbcc0;

}
.main {
    position: relative;
    background-color: var(--black);
    height: 300vh;
    
}
.main::before {
    content: "";
    position: absolute;
    background-image: url(images/maarten-deckers-T5nXYXCf50I-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    inset: 0;
    width: 100%;
    opacity: 0.5;

}
.nav {
    isolation: isolate;
    padding: 10px 10px;
    height: 60px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav__menu {
    isolation: isolate;
   
}
.nav__logo {
    
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    background-image: linear-gradient(to top, var(--violet) 10%, var(--blue2) 75%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 15px;
    font-weight: 500;
} 
.nav__links {
    color: var(--white);
    list-style: none;
    text-decoration: none;
}
.nav__links-btn {
    color: var(--white);
    list-style: none;
    text-decoration: none;
    font-size: 15px;  
    background-color: var(--violet);
    padding: 10px 10px;
    border-radius: 10px;
    border: solid var(--black) 3px;
 
}
.nav__links:hover {
    transform: scale(1.27);
    transition: all 0.3s ease-in;
    color: var(--blue2);
  
}
.nav__links-btn:hover {
    transform: scale(1.27);
    transition: all 0.3s ease-in;
    color: var(--blue2);
    background-color: var(--black);
}
.hamburger {
    display: none;
}
.bar {
    height: 3px;
    width: 30px;
    background-color: var(--white);
    margin: 6px 0;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.hero {
    isolation: isolate;
    padding: 10px 30px;
    margin-top: 50px;

    

}
.main__hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    
}
.hero1 h1 {
    color: var(--white);
    font-size: 7rem;
   
}
.hero1 h2 {
    color: var(--white);
    font-size: 4rem;
}
.buttons {
    display: flex;
    gap: 50px;

    
}
.buttons .view {
display: inline-block;
background-color: var(--cyan);
padding: 20px 60px;
border: solid 2px var(--black);
text-decoration: none;
list-style: none;

}
.buttons .con {

background-color: var(--cyan);
display: inline-block;
padding: 20px 60px;
border: solid 2px var(--black);
text-decoration: none;
list-style: none;


}
.main__body {
    
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.main__body1 {
    
    padding: 10px 30px;
    gap: 600px;
    justify-content: center;
    align-items: center;
    
}
.sub__body h1 {
    text-align: center;
    color: var(--white);
    width: 700px;
    font-size: 3rem;
    margin-bottom: 30px;
}
.sub__body h2 {
    text-align: center;
    color: var(--white);
    width: 700px;
    font-size: 2.1rem;
    font-weight: 250;
    margin-bottom: 30px;
}
.read {
    display: inline-block;
    padding: 20px 80px;
    margin: 0 250px;
    border: solid 2px var(--white);
    color: var(--white);
    background-color: var(--violet);
    text-decoration: none;
    list-style: none;

}
.menu__active {
    transform: translate(0%) !important;
}
.hamburger__active .bar:nth-child(1) {
    transform: translateY(8.5px) rotate(45deg);
}
.hamburger__active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger__active .bar:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);
}
@media (max-width:900px) {

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        justify-content: space-between;
        
    }
    .main__hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 180px;
    
    }

    .hero1 h1 {
    color: var(--white);
    font-size: 4rem;
    }
    .hero1 h2 {
        padding-top: 50px;
    font-size: 2rem;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons .view {
    display: inline-block;
    background-color: var(--cyan);
    padding: 30px 30px;
    border: solid 2px var(--black);
    text-decoration: none;
    list-style: none;

}
    .buttons .con {
    
    display: inline-block;
    padding: 30px 30px;
    border: solid 2px var(--black);
    text-decoration: none;
    list-style: none;
}    
.main__body {
    margin-top: 20px;
}
.sub__body h2 {
    font-size: 2rem;
}
.sub__body h1 {
    font-size: 2rem;
}

}
@media (max-width: 700px) {
    .nav__menu {
        position: absolute;
        top: 20px;;
        left: 0;
        width: 100%;
        padding: px 0 25px;
        transform: translate(100%);
        transition: all 0.6s ease-in;
       

    }
    .nav__list {
        
        display: flex;
        flex-direction: column;
        text-align: center;
        gap:15px;
        margin-bottom: 10px;

}
.hamburger {
    display: block;
}
.hero {
    margin-top: 180px;

}

@media (max-width: 450px) {
    .main__body1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;

      
    }
    .sub__body h1 {
        font-size: 1.6rem;
    }
    .sub__body h2 {
        margin-bottom: 70px;
        font-size: 1.65em;
        
    }

}
   
}


